<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--
  <h1>HOLA MUNDO</h1>
<P>Laura Espinoza</P>
{{title}}

<div>La suma de 2 + 2 es: {{2+2}}</div>
<div>El doble de 3 es: {{duplicarvalor(3)}}</div>

<hr> linea que divide xd 
<br>

<div>
  {{pelicula.titulo |uppercase}}
</div>
<div>
  {{pelicula.fechalanzamiento |date:"dd-MM-yy"}}
</div>
<div>
  {{pelicula.precio |currency}}
</div>

<hr>
<br>
<div>
  <app-suma></app-suma>
</div>

<div>
  <app-resta></app-resta>
</div>
-->
<hr>
 <div>
  <app-product-list></app-product-list>
</div>