<div class="card" style="background-color: rgb(149, 186, 235)">
    <div class="card-header">
        CINECO
    </div>
        <div class="card-body col-md-6">
            <div class="card">
                <div class="card-header">Entradas</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="row-md-4">Nombre:</div>
                                <div class="row-md-4">
                                    <input type="text" class="form-control" [(ngModel)]="nombreCli" name="nombreCli">
                                </div>
                            <div class="row-md-4">Cantidad de Compradores:</div>
                                <div class="row-md-4">
                                    <input type="text" class="form-control" [(ngModel)]="cantidadClientes" name="cantidadClientes">
                                </div>
                            <div class="row-md-4">Tarjeta Cineco:</div>
                                    <div class="col-md-4">
                                        <input type="radio" value="si" [(ngModel)]="tarjeta" name="si">Si
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" value="no" [(ngModel)]="tarjeta" name="no">No
                                    </div>
                            <div class="row-md-4">Cantidad de Boletos:</div>
                                <div class="row-md-4">
                                    <input type="text" class="form-control" [(ngModel)]="boletos" name="boletos">
                                </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card-body col-md-6">
            <div class="card">
                <div class="card-header">Salidas</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="row-md-4">Total a pagar:</div>
                                <div class="row-md-4">
                                    <h1>{{totalCine}}</h1>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card-body col-md-3">
            <div class="card">
                <div class="card-header">Acciones</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <button (click)="cineCal()" type="button" class=" btn btn-primary">Calcular</button>
                            </div>
                            <div class="col-md-6">
                                <button (click)="limpiar()" type="button" class=" btn btn-primary">Salir</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="card-body col-md-3">
            <div class="card">
                <div class="card-header">Ticket</div>
                    <div class="card-body">
                        <div class="row">
                            <h3>Titular:</h3>
                                <span>{{nombreCli}}</span>
                            <h3>Cantidad de Boletos:</h3>
                                <span>{{bloqueo}}</span>
                                <span>{{boletos}}</span>
                            <h3>Total a pagar:</h3>
                                <span>{{totalCine}}</span>
                        </div>
                    </div>
            </div>
        </div>