<p>suma works!</p>
<div>
    Numero1:<input type="text" [(ngModel)]="numero1" name="numero1"><br>
    Numero2:<input type="text" [(ngModel)]="numero2" name="numero2"><br>

    <br>
    <input type="radio" value="suma" name="operacion" [(ngModel)]="operacion">Suma
    <br>
    <input type="radio" value="resta" name="operacion" [(ngModel)]="operacion">Resta
    <br>
    <input type="radio" value="multiplicacion" name="operacion" [(ngModel)]="operacion">Multiplicación
    <br>
    <input type="radio" value="division" name="operacion" [(ngModel)]="operacion">División
    <br>
    <button type="button" (click)="sumar()">Calcular</button>

    <h1>Resultado: {{total}}</h1>
    {{calcula}}

</div>

